<h1 id="randomcase">Randomcase</h1>
<p>Changes everyletter casing to a random casing.</p>
<h2 id="example">Example</h2>
<p>If input is:</p>
<pre><code>HTML, CSS and Javascript
</code></pre><p>The output could be:</p>
<pre><code>HtmL, CSs aND JAvascRiPt
</code></pre><p>or:</p>
<pre><code>HTML, css and JAvAScRIpt
</code></pre><p>It&#39;s random after all.</p>
