body {
    margin: 0;
    font-family: sans-serif;
}

.global-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    background-color: #f74b4b;
    height: 250px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;

    .item-input {
        display: flex;
        flex-flow: row wrap;

        input[type="text"]{
            flex: 10 0;
            outline: none;
            border: none;
            line-height: 2em;
            padding-left: 0.5em;
        }

        input[type="submit"]{
            flex: 1 1;
            background-color: #c52626;
            border: none;
        }

        label {
            flex: 0 0 100%
        }
    }
}

.item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #8c0606;
    width: 100%;
    padding: 60px 60px;

    .item {
        display: flex;
        flex-flow: row nowrap;
        height: 25px;
        align-items: center;
        background-color: #ff813e;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-name {
            padding: 0 15px;
        }

        .item-delete {
            width: 25px;
            text-align: center;
            line-height: 25px;
            background-color: #ff610f;
        }
    }
}

.picked-item {
    font-size: 4em;
    font-weight: bold;
    margin-top: 1em;
}