body {
    margin: 0;
    background-color: #8c5cff;
    position: relative;
    overflow-x: hidden;
}

.wrapper{
    position: absolute;
}

.wrapper.transition-wrapper{
    -webkit-transition: left 500ms ease-in, opacity 500ms ease-in;
    -moz-transition: left 500ms ease-in, opacity 500ms ease-in;
    -o-transition: left 500ms ease-in, opacity 500ms ease-in;
    transition: left 500ms ease-in, opacity 500ms ease-in;
}

#wrapper-timer{
    background-color: #000;
    height: 100vh;
}

#menu{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#menu .menu-item {
    width: 33%;
    height: 250px;
    padding: 1%;
    box-sizing: border-box;
}

#menu .menu-item:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
}