@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

/* reset */
body {
    background-color: #f0f0f0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

a, a:active, a:visited{
    text-decoration: none;
}

* { color: #000; }

/**/
*{
    font-family: 'Open Sans';
    margin: 0
}

header {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.tools-container {
    -moz-column-count: 4;
    column-count: 4;
    width: 100%;
    column-gap: 25px
}

.tool {
    max-width: 285px;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: white;
    box-shadow: 0 0 4px #b7b7b7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.tool.tool-medium {
    height: 90px;
    flex-basis: 90px;
    display: flex;
    flex: 0 0 auto;
}

.tool.tool-small {
    height: 40px;
    display: flex;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.tool.tool-small .tool-image{
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    overflow: hidden;
    order: 1;
}

.tool.tool-small img{
    height: 100%;
}


.tool.tool-small .tool-description {
    display: none;
}

.tool.tool-small .tool-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    order: 0;
}

.tool.tool-small .tool-info {
    flex: 1 1 auto;
}

.tool.tool-big {
    flex: 0 0 auto;
}

.tool.tool-medium .tool-image {
    width: 90px;
    flex-shrink: 0;
    height: 90px;
    overflow: hidden;
}

.tool.tool-medium .tool-image img {
    height: 100%;
}

.tool.tool-big img {
    width: 100%;
}

.tool.tool-big .tool-title {
    font-size: 1em;
    line-height: 2em;
}

.tool.tool-big .tool-description {
    font-size: 0.8em;
}

.tool-image {
    line-height: 0;
}

.tool-info {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: left;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-style: italic;
    color: #00b59a;
    font-weight: 400;
    padding: 0;
}

.tool.tool-medium .tool-title {
    font-size: 1em;
    line-height: 1.4em;
}

.tool.tool-medium .tool-description {
    font-size: 0.66em;
}

.tool.tool-medium .tool-info {
    padding: 6px 15px;
}


.tool:hover {
    cursor: pointer;
}

.category {
    margin-bottom: 45px;
}

.category .category-title {
    font-style: italic;
    font-weight: 100;
    color: #999999;
    margin-bottom: 12px;
}

.tool-wrapper {
    break-inside: avoid-column;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding-top: 5px;
    padding-bottom: 20px;
}

@media (min-width: 1600px) {
    .tools-container {
        -moz-column-count: 5;
        column-count: 5;
    }
}

@media (max-width: 1200px) {
    .tools-container {
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 920px) {
    .tools-container {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 620px) {
    .tools-container {
        -moz-column-count: 1;
        column-count: 1;
    }
}

.tool:hover {
    box-shadow: 0 0 6px #fff;
}

.tool{
    transition: box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.tool .tool-title{
    transition: color 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        flex: 1 1 100%;
}
.tool:hover .tool-title {
    color: #22e2c6;
}

.tool:hover img {
    opacity: 0.8;
}

.tool img {
    transition: opacity 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.logo img:hover {
    filter: brightness(1.1);
}

.logo img {
    transition: filter 750ms cubic-bezier(0.35, 2.82, 0.15, 2.57);
}