body{
    background-color: #f3f3f3;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.site-info .title {
    font-family: Arvo;
    font-size: 3.6em;
    text-align: center;
    margin: 0;
}

.site-info .description {
    text-align: center;
    font-family: 'Open Sans';
    font-style: italic;
    margin: 0;
}

.site-info {
    margin: 45px;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 1200px;
}

.controls #css-input,
.controls #css-output{
    max-width: 95%;
    border: 1px solid #e2e2e2;
    outline: none;
    border-radius: 4px;
}

.controls #beautify-button {
    background-color: #4ce6b9;
    padding: 10px 25px;
    border: none;
    font-family: 'Open Sans';
    font-size: 1.2em;
    outline: none;
    color: #095567;
    margin: 0 20px;
}

.controls #beautify-button:hover {
    cursor: pointer;
    background-color: #5cf5c8;
}
