/* reset */
body{ margin: 0; }
a{
    text-decoration: none;
}

/* global */
body{
    background-color: #09af9c;
}

/* header */
.site-info {
    padding: 20px;
}

.site-info .logo{
    font-family: 'Arvo', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #5c0078;
}

.site-info .description{
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #404040;
    font-style: italic;
}

.header {
    height: 420px;
    background: #24e0ae;
    background: -moz-linear-gradient(-45deg, #24e0ae 0%, #009e96 100%);
    background: -webkit-linear-gradient(-45deg, #24e0ae 0%,#009e96 100%);
    background: linear-gradient(135deg, #24e0ae 0%,#009e96 100%);
}

/* Search Widget */
    .char-search-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        height: 57%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .char-search {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 0 1 640px;
    }

    .char-search > .char-input {
        width: 100%;
    }

    .char-search > .char-input  input {
        font-size: 1em;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        outline: none;
        width: 100%;
        border: none;
        border-bottom: 4px solid #bbbbbb;
        border-radius: 0 0 8px 8px;
    }

    .char-search > .search-button {
        padding: 10px 25px;
        background-color: #5c0078;
        color: white;
        font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
    }

    .char-search > .search-button:hover {
        cursor: pointer;
        background-color: #5c0078;
    }

    .char-search > .char-input > select {
        width: 100%;
        background-color: #e2e2e2;
        height: 36px;
        text-align: center;
        outline: none;
        border: none;
        text-align-last: center;
        border-radius: 8px 8px 0 0;
    }

/* Bar generic */
    .bar {
        background-color: #5c0078;
        color: white;
        box-sizing: border-box;
        z-index: 99;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 40px;
    }

    .bar .bar-button {
        flex: 0 0 auto;
        font-size: 1.2em;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: #440058;
        line-height: 40px;
        cursor: pointer;
    }

/* Bar app */
    .bar.nav-bar{
        justify-content: center;
    }

    .bar.nav-bar .page-control {
        flex: 0 0 auto;
        font-size: 1.2em;
    }

    .bar.bar-popup {
        justify-content: flex-end;
    }

    .bar.nav-bar .page-prev-fast {
        margin-right: 5px;
    }

    .bar.nav-bar .page-next-fast {
        margin-left: 5px;
    }

    .bar.nav-bar .page-info {
        flex: 0 0 auto;
        text-align: center;
        font-family: 'Arvo', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
        min-width: 145px;
    }

/* */
.char-box {
    width: 35px;
    height: 35px;
    background-color: #e2e2e2;
    margin: 0.5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}


.char-box .character {
    font-size: 1.2em;
}

.char-box:hover,
.char-box.active{
    background-color: #48e8ba;
    cursor: pointer;
}

.charmap {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: space-around;
}

.popup {
    background-color: #252525;
    color: white;
    z-index: 20;
    box-sizing: border-box;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    width : 320px;
    max-height : 100vh;
    min-height: 100vh;
    z-index: 9999;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.41);
}

.popup .copy-value {
    color: yellow;
}


.char-property{
    margin-bottom: 16px;
}

.char-prop-name {
    font-weight: 600;
}

.char-code {
    float: right;
}

.character-big {
    width: 100%;
    font-size: 54px;
    text-align: center;
    background-color: white;
    color: black;
    line-height: 209px;
    height: 209px;
}

.popup {
    font-family: 'Open Sans';
    transition: transform 120ms ease-in-out;
}

.popup.hidden{
    transform: translate3d(-320px, 0, 0)
}

@media (min-width : 640px){
    body.menu-open{
        margin-left: 320px;
    }
}

@media (min-width : 960px){
    body.menu-open{
        margin-left: 480px;
    }

    .popup.hidden{
        transform: translate3d(-480px, 0, 0)
    }
    .popup{
        width: 480px;
    }
}

@media (max-width : 639px){
    body.blocked{
        overflow: hidden;
    }

    body.blocked:after{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.63);
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
    }
}



.popup .close-button{
    cursor: pointer;
    font-size: 1em;
}

.char-properties {
    width: 100%;
}

.charmap:after {
    width: 35px;
    height: 35px;
    background-color: #e2e2e2;
    margin: 0.5px;
    display: flex;
    text-align: center;
    align-items: center;
    content: "";
    position: relative;
    flex: 1;
}

