.background {
     background-color: #ffd165;
     align-content: center     
}

.timer .timer-display {
    font-family: 'Orbitron', sans-serif;
    display:flex;
    flex-flow: column;
    font-size: 8em;
    align-items: flex-end;
    padding: 1.4em 0;
    transition: font-size 250ms ease-out;
}

.timer .timer-display #miliseconds {
    font-size: 20px;
}

.timer .timer-controls .timer-control-button {
    background-color: #ff543b;
    padding: 10px 25px;
    border: none;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 1.6em;
    outline: none;
    color: #ffe4e3;
    margin: 0 10px 0 10px;
    transition: font-size 250ms ease-out;    
}

.timer .timer-controls .timer-control-button:hover {
    cursor: pointer;
    background-color: #ff6e41;
}

.timer-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.timer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 100%;
}

.site-info .title {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 3.6em;
    transition: font-size 250ms ease-out;    
}

.site-info .description {
    font-family: 'Open Sans';
    font-style: italic;
    text-align: center;
    font-size: 1em;
}


.full-time {
    display: flex;
    flex-flow: row nowrap;
    line-height: 0.9em;
}

@media (max-width: 780px){
    .timer .timer-controls .timer-control-button
    {
        font-size: 1.3em;
    }
    .timer .timer-display
    {
        font-size: 5.5em;

    }
}

@media (max-width: 475px){
    .timer .timer-controls .timer-control-button
    {
        font-size: 0.8em;
    }
    .timer .timer-display
    {
        font-size: 3.4em;
    }
    .timer-wrapper .timer .timer-controls
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 20vw;
    }
    .site-info .title
    {
        font-size: 3em;
    }
}