body{
    margin: 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.half {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#first-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #77d3ff;
    overflow: hidden;
}

#second-half {
    background-color: #1d1d1d;
}

#box {
    width: 200px;
    height: 200px;
    position:relative;
    background-color: #ff5454;
}

#light {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #7b7b7b;
    background-color: white;
    box-shadow: white 0px 0px 10px;
    position: absolute;
    
}


#light:hover{
    cursor: move;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}