
@mixin retro {
    & {
        background-color:white;
        color : #505050;
        h1,h2,h3,h4,h5 {
            color: $primary-color;
        }

        code, blockquote{
            white-space: pre-wrap;
        }
        
        code {
            padding: 0 2px;
            background-color: #FFC107;
        }

        pre code {
            white-space: pre-wrap;
            padding: 10px;
            display: block;
        }

        blockquote {
            background-color: #FFF59D;
            padding: 5px 10px 10px 25px;
            margin: 0;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        a {
            color: #037b6d;
        }
        
    }
}