@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #219E6E; }

h1 {
  margin: 0; }

.bar {
  min-height: 50px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #219E6E; }
  .bar .bar-button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.13); }

.widget-container {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 40px; }
  .widget-container .widget {
    width: auto;
    box-sizing: border-box;
    margin: 5px; }
    .widget-container .widget .widget-title {
      color: #219E6E; }

.vertical-bar {
  display: flex;
  flex-flow: column;
  height: 100vh; }

.info-toggle {
  font-size: 1.4em; }

.menu-toggle,
.info-toggle {
  cursor: pointer; }

.controls-sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 273.2px;
  transition: transform 200ms ease-in-out;
  will-change: transform; }
  .controls-sidebar > .mini-bar > .tulz-logo {
    width: 100px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .controls-sidebar > .mini-bar > .tulz-logo > img {
      width: 100%;
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(318deg); }
  .controls-sidebar > .mini-bar > .menu-toggle {
    display: none; }

.info-sidebar {
  background-color: #f5f5f5;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  transition: transform 200ms ease-in-out;
  will-change: transform; }
  .info-sidebar .info-toggle {
    display: none; }

.app-container {
  background-color: #e4e4e4;
  margin-left: 273.2px;
  margin-right: 30vw;
  transition: margin 200ms ease-in-out; }
  .app-container > .top-bar > .menu-toggle {
    display: none; }
  .app-container > .top-bar > .app-name {
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    margin: 0;
    font-size: 1em;
    position: absolute;
    margin-left: -150px;
    z-index: 10; }
    .app-container > .top-bar > .app-name * {
      color: white; }
  .app-container > .top-bar > .info-toggle {
    margin-left: auto;
    display: none; }

body:after {
  z-index: 10; }

.view-default-info {
  padding-left: 10px; }

@media (max-width: 1200px) {
  .controls-sidebar {
    transform: translate3d(-100%, 0, 0); }
    .controls-sidebar > .mini-bar {
      width: 273.2px;
      justify-content: space-between; }
      .controls-sidebar > .mini-bar > .tulz-logo {
        display: none; }
  body.controls_sidebar_opened {
    margin-left: 273.2px; }
    body.controls_sidebar_opened .controls-sidebar {
      transform: none;
      z-index: 999; }
      body.controls_sidebar_opened .controls-sidebar > .mini-bar > .tulz-logo {
        display: flex; }
      body.controls_sidebar_opened .controls-sidebar > .mini-bar > .menu-toggle {
        display: initial; }
    body.controls_sidebar_opened .app-container .menu-toggle {
      display: none; }
  .app-container {
    margin-left: 0px; }
    .app-container .top-bar > .app-name {
      margin-left: 70px; }
    .app-container > .top-bar > .menu-toggle {
      display: initial; } }

/* */
.fake-widget {
  height: 400px; }

@media (max-width: 900px) {
  .info-sidebar {
    transform: translate3d(100%, 0, 0); }
  body.info_sidebar_opened .info-sidebar {
    width: 40vw;
    transform: none;
    z-index: 999; }
    body.info_sidebar_opened .info-sidebar .info-toggle {
      display: initial; }
  body.info_sidebar_opened .app-container > .top-bar > .info-toggle {
    display: none; }
  .app-container {
    margin-right: 0; }
    .app-container > .top-bar > .info-toggle {
      display: initial; } }

@media (min-width: 640px) and (max-width: 900px) {
  body.info_sidebar_opened .app-container {
    margin-right: 40vw; } }

@media (max-width: 640px) {
  body.info_sidebar_opened .info-sidebar {
    width: 60%; }
  body.controls_sidebar_opened {
    margin-left: 0; }
  body[class$="sidebar_opened"]:after {
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.49);
    top: 0;
    left: 0; } }

@media (max-width: 540px) {
  body.info_sidebar_opened .info-sidebar {
    width: 70%; } }

@media (max-width: 440px) {
  body.info_sidebar_opened .info-sidebar {
    width: 80%; } }

@media (max-width: 340px) {
  body.info_sidebar_opened .info-sidebar {
    width: 90%; } }

/*# sourceMappingURL=tulzio_template.css.map */