<h1 id="aio-text-tools">AIO TEXT TOOLS</h1>
<h2 id="how-to-use">How to use</h2>
<p>First add some text operations from the text operations panel. We will add the <code>split in lines</code> operation in this example</p>
<p><img src="img/index-text-operations.png" alt="example image" title="An exemplary image"></p>
<p>Now you will have an operation widget in the operations pipeline.</p>
<p><img src="img/index-operation-widget.png" alt="example image" title="An exemplary image"></p>
<p>Modify its settings as desired. In this example we will break the lines by the <code>:</code> character</p>
<p><img src="img/index-split-in-lines-settings.png" alt="example image" title="An exemplary image"></p>
<h2 id="widget-controls">Widget Controls</h2>
<ul>
<li>You can collapse/expand a widget by clicking on the collapse icon or on its name.</li>
<li>Click the eye icon to bypass the widget during the pipeline execution.</li>
<li>Click the information icon to get information about how to use the widget.</li>
<li>Reorder the widget pipeline by dragging(on desktop) or clicking the up or down arrow icons(mobile or desktop).</li>
<li>Delete the widget by clicking the trash icon.</li>
</ul>
<h2 id="request-your-text-operations">Request Your Text Operations</h2>
<p>If you need some text operations write me to <strong>admin@tulz.io</strong> or send me a PM to <strong>/u/drecdroid</strong></p>
<h2 id="help-us">Help Us</h2>
<p>We don&#39;t ask money as retribution but you can helps us by:</p>
<ul>
<li>Using this tool and enjoying it.</li>
<li>Sharing this tool with your friends.</li>
</ul>
<h2 id="todo">TODO</h2>
<h3 id="basic">Basic</h3>
<ul>
<li>Add preffix / suffix</li>
<li>Column extractor</li>
<li>Remove Lines Containing</li>
</ul>
<h3 id="randomization">Randomization</h3>
<ul>
<li>Randomize string</li>
</ul>
<h3 id="encoding-decoding">Encoding / Decoding</h3>
<ul>
<li>Encode/Decode URL</li>
</ul>
<h3 id="escaping">Escaping</h3>
<ul>
<li>Un/Escape XML</li>
<li>Un/Escape SQL</li>
</ul>
<h3 id="others">Others</h3>
<ul>
<li>Tabs to spaces and viceversa</li>
<li>Remove punctuation</li>
<li>Remove all whitespace</li>
<li>Disenvowell</li>
</ul>
<h2 id="upcoming-features">Upcoming Features</h2>
<ul>
<li>Save pipeline</li>
<li>Input widget(generator, file, url response, etc.)</li>
</ul>
<h2 id="faq">FAQ</h2>
<h3 id="what-did-you-use-to-make-this-">What did you use to make this?</h3>
<h4 id="dependencies">Dependencies</h4>
<ul>
<li>re:dom</li>
<li>crypto-js</li>
<li>random-js</li>
</ul>
<h4 id="dev-dependencies">Dev-dependencies</h4>
<ul>
<li>browserify</li>
<li>watchify</li>
<li>require-globify</li>
<li>marked : For html help files generation</li>
<li>node-sass</li>
</ul>
<h3 id="why-don-t-you-use-react-">Why don&#39;t you use React?</h3>
<p>It&#39;s easier to use re:dom</p>
<h3 id="why-don-t-you-use-webpack-">Why don&#39;t you use webpack?</h3>
<p>It&#39;s easier to use browserify</p>
<h3 id="did-you-use-typescript-">Did you use typescript?</h3>
<p>No</p>
<h3 id="why-">Why?</h3>
<p>Because this project is not so big to require using it.</p>
<h3 id="did-you-transpile-your-es6-">Did you transpile your ES6?</h3>
<p>No</p>
<h3 id="why-">Why?</h3>
<p>I think we are on times to move forward, we should not retain everyone in the past because we don&#39;t want to upgrade our browsers.
Also I&#39;m lazy.</p>
