.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: hsla(0, 0%, 60%, 1) 0px 0px 4px;
}

.container {
    padding: 10px 0;
    position: relative;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: #a9a49d;
}

.section {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

input#document-name {
    line-height: 18pt;
    font-size: 16pt;
    color: #909090;
    /* background-color: hsla(0, 0%, 98%, 1); */
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px;
    padding-left: 0;
    outline: none;
}

#document-controls {
    font-size: 1.2em;
    padding-top: 0;
    user-select: none; 
}

#document-controls * {
    margin-right: 0.5em;
    font-size: 1.4em;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#document-controls :hover {
    opacity: 0.5;
    cursor: pointer;
}

#document-editor{
    display: flex;
    max-width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#document-editor text-area {
    width: 600px;
}

#document-editor textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 0;
    margin-left: 26px;
    /* border: none; */
}

#document-line-numbers, #document-editor textarea{
    font-size: 13px;
    line-height: 18px;
}
#document-line-numbers {
    position: absolute;
    margin: 0;
    text-align: right;
    color: #828282;
    background-color: hsl(0, 0%, 98%);
    min-width: 16px;
    padding: 0 2.5px;
    box-sizing: border-box;
    font-size: 10px;
    width: 20px;
}

#change-color-widget{
    right: 10px;
    bottom: 50px;
    position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#change-color-button {
    background-color : #fff;
    right: 10px;
    bottom: 18px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.change-color {
    background-color : #fff;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

#document-status {
    padding: 10px;
    color: #868686;
    background-color: rgba(236, 236, 236, 0.87);
}

.trans {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

@media print {
    #document-controls {
        display: none;
    }

    #document-status{
        display: none;
    }
}