<h1 id="flip-case">Flip Case</h1>
<p>Uppercases lowercase characters and viceversa</p>
<h2 id="example">Example</h2>
<p>If input is:</p>
<pre><code>Sample TEXT
</code></pre><p>Text output will be:</p>
<pre><code>sAMPLE text
</code></pre>