<h1 id="lowercase-all">Lowercase All</h1>
<p>Lowercases every character.</p>
<h2 id="example">Example</h2>
<p>If input is:</p>
<pre><code>HTML, CSS and Javascript
</code></pre><p>The output will be:</p>
<pre><code>html, css and javascript
</code></pre>